<div class="skin-blue sidebar-mini" [ngClass]="{'sidebar-collapse': !stateService.menuOpen, 'sidebar-open': stateService.menuOpen }" style="height:100%; display:none" [ngStyle]="{'display': !user ? 'none' : 'block'}">
    <div class="wrapper">
        <app-site-header></app-site-header>

        <app-nav-menu></app-nav-menu>

        <div class='content-wrapper'>
            <router-outlet></router-outlet>            
        </div>

        <app-site-footer></app-site-footer>
    </div>
</div>
