<div class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" [ngClass]="{'dialog-large': large}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" *ngIf="showCloseButton" (click)="hide()">
                    <span aria-hidden="true">X</span>
                </button> 
                <ng-content select=".app-modal-header"></ng-content>
            </div>
            <div class="modal-body" [ngClass]="{'dialog-body-large': large}">
                <ng-content select=".app-modal-body"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select=".app-modal-footer"></ng-content>
            </div>
        </div>
    </div>
</div>