<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Campus Safety Pro</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Enter your new password below</p>


            <form class="form-horizontal" [formGroup]="formGroup" *ngIf="formGroup" (ngSubmit)="changePassword(formGroup.value)">
                <div class="box-body">
                    <form-errors [formGroup]="formGroup" *ngIf="submitted"></form-errors>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email"
                               autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;);
                        background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px;
                        background-position: 98% 50%;">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="New Password" id="newPassword" formControlName="newPassword"
                               autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;);
                        background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px;
                        background-position: 98% 50%;">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Repeat New Password" id="newPassword2" formControlName="newPassword2"
                               autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;);
                        background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px;
                        background-position: 98% 50%;">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>

                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                    <a [routerLink]="['/login']" class="btn btn-default pull-right" role="button"><i class="fa fa-undo"></i> Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>