<app-modal>
    <div class="app-modal-header">
        <span>Edit User Features</span>
    </div>
    <div class="app-modal-body">
        <form class="form-horizontal" [formGroup]="formGroup" *ngIf="formGroup">
            <app-form-errors [formGroup]="formGroup" *ngIf="submitted"></form-errors>
            <div class="row" *ngFor="let item of features">
                <label class="col-sm-6 text-right">{{item.name}}</label>
                <div class="col-sm-6">
                    <input type="checkbox" id="{{item.value}}" formControlName="{{item.value}}">
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()"><i class="fa fa-close"></i> Close</button>
        <button type="button" class="btn btn-primary" (click)="submit(formGroup.value)"><i class="fa fa-save"></i> Save</button>
    </div>
</app-modal>
