<section class="content-header">
    <h1 *ngIf="item?.id === 0">Add New Victimization</h1>
    <h1 *ngIf="item?.id !== 0">Edit Victimization</h1>
</section>
<section class="content">
    <form class="form-horizontal" [formGroup]="formGroup" *ngIf="formGroup">
        <app-form-errors [formGroup]="formGroup" *ngIf="submitted"></app-form-errors>
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="victimTypeId">Victimization</label>
                    <div class="col-lg-9">
                        <select class="form-control" id="victimTypeId" formControlName="victimTypeId">
                            <option value="">Select One</option>
                            <option *ngFor="let o of victimTypes" [value]="o.id">{{o.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="reportingAgency">Reporting Agency</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="reportingAgency" placeholder="Reporting Agency" autocomplete="off" formControlName="reportingAgency">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="reportNumber">Report Number</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="reportNumber" placeholder="Report Number" autocomplete="off" formControlName="reportNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="startDate">Start Date</label>
                    <div class="col-lg-9">
                        <p-calendar name="startDate" id="startDate" formControlName="startDate"></p-calendar>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="reportDetails">Report Details</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" id="reportDetails" placeholder="Report Details" autocomplete="off" formControlName="reportDetails"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="comments">Comments</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" id="comments" placeholder="Comments" autocomplete="off" formControlName="comments"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <app-last-edit-info [item]="item" [title]="'Victimizataion Info'"></app-last-edit-info>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="submit(formGroup.value)"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-default" (click)="cancel()"><i class="fa fa-close"></i> Close</button>
        </div>
    </div>
</section>

